body {
  color: #ffffff;
  background-color: #191919;
  user-select: none;
}
input,
button,
label {
  background-color: #202020;
  color: yellow;
  border-radius: 5px;
  font-size: 1.1rem;
}
button {
  border: none;
}
select,
option {
  background-color: #202020;
  border-radius: 5px;
  color: tomato;
  font-size: 1rem;
}
#game {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  border: 1px solid blue;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.game-raws {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: flex-start;
}
.game-raws > input {
  border: 1px solid blue;
  text-align: center;
  /* width: 10rem;*/
  max-width: 80px;
}
input[disabled] {
  background-color: #101010;
  color: green;
}

input[disabled]:hover {
  font-weight: bold;
  border: 1px dotted yellow;
}
.options {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  border: 1px solid blue;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.game-btns {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  border: 1px solid blue;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#ctrls {
  display: none;
}
