body {
  color: #ffffff;
  background-color: #17202a;
  user-select: none;
}
input,
button,
label {
  background-color: #202020;
  color: #d35400;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  border: 1px solid green;
}
select,
option {
  background-color: #202020;
  border-radius: 5px;
  color: #d35400;
  font-size: 1rem;
  border: 1px solid green;
}

.game-raws > input {
  font-size: 1.2rem;
  color: #c36241;
}

button:hover {
  background-color: #151515;
}

a,
a:hover,
a:active {
  color: #665d1e;
  text-align: center;
  text-decoration: none;
}

#game {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.game-raws {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: flex-start;
}
.game-raws > input {
  border: 1px solid blue;
  text-align: center;
  max-width: 80px;
}

.game-raws > input:hover {
  border: 1px dotted red;
}

input[disabled] {
  background-color: #101010 !important;
  color: green !important;
}

input[disabled]:hover {
  font-weight: bold;
  border: 1px dotted yellow;
}
.options {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.game-btns {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#ctrls {
  display: none;
}

#create_new_inp {
  border: 1px solid green;
}

.msg-easy {
  font-size: 1rem;
  color: #2471a3;
}

.msg-medium {
  font-size: 1.1rem;
  color: #8e44ad;
}

.msg-difficult {
  font-size: 1.1rem;
  font-weight: bold;
  color: #c70039;
}
